<a href="https://colab.research.google.com/github/drbala9363102176/05022025/blob/main/CSV_to_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""Apache PySpark is the Python API for Apache Spark, an open source, distributed computing
framework and set of libraries for real-time, large-scale data processing.
 If you're already familiar with Python and libraries such as Pandas,
 then PySpark is a good language to learn to create more scalable analyses
 and pipelines."""

In [ ]:
"""Hadoop is the foundation of your big data architecture. It's responsible
for storing and processing your data. Spark is an in-memory processing
engine that can perform real-time stream processing or batch processing
on data stored in Hadoop"""

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=ea13e2cfe3de3d5eb041b3ef3732253a972d53df138d916d162fc866454f789b
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
#df.write.csv('foo.csv', header=True)
#spark.read.csv('foo.csv', header=True).show()

In [ ]:
#random csv creation
import numpy as np
from numpy import random
import pandas as pd

arr = ['Arun', 'Akash', 'Sanjay', 'Manu']
a=np.random.choice(arr, 15, p=[0.5, 0.1, 0.1, 0.3])
b = random.choice([30, 52, 72, 91,80,60], p=[0.1, 0.2, 0.3, 0.1,0.1,0.2], size=(15))
c = random.choice([30, 52, 72, 91,80,60], p=[0.1, 0.2, 0.3, 0.1,0.1,0.2], size=(15))
d = random.choice([30, 52, 72, 91,80,60], p=[0.1, 0.2, 0.3, 0.1,0.1,0.2], size=(15))
e = random.choice([30, 52, 72, 91,80,60], p=[0.1, 0.2, 0.3, 0.1,0.1,0.2], size=(15))
f = random.choice([30, 52, 72, 91,80,60], p=[0.1, 0.2, 0.3, 0.1,0.1,0.2], size=(15))
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
frame={"Name":a, "English":b, "Math":b, "Physics":c,"Chemistry":d,"Electronics":e,"CSE":f}
df=pd.DataFrame(frame)
print(df)
df.to_csv('file1.csv')

['Arun' 'Arun' 'Arun' 'Manu' 'Manu' 'Akash' 'Akash' 'Manu' 'Akash' 'Manu'
 'Arun' 'Arun' 'Akash' 'Akash' 'Arun']
[60 30 80 72 52 80 72 52 52 72 80 60 72 52 72]
[72 52 52 72 60 72 52 52 72 91 60 60 80 91 60]
[60 80 52 52 60 60 72 72 72 80 52 52 52 52 80]
[80 91 72 52 91 30 72 60 60 30 80 72 72 72 52]
[52 91 72 72 60 52 52 60 60 30 91 80 72 72 80]
     Name  English  Math  Physics  Chemistry  Electronics  CSE
0    Arun       60    60       72         60           80   52
1    Arun       30    30       52         80           91   91
2    Arun       80    80       52         52           72   72
3    Manu       72    72       72         52           52   72
4    Manu       52    52       60         60           91   60
5   Akash       80    80       72         60           30   52
6   Akash       72    72       52         72           72   52
7    Manu       52    52       52         72           60   60
8   Akash       52    52       72         72           60   60
9    Manu       72    72       91         80           30   30
10   Arun       80    80       60         52           80   91
11   Arun       60    60       60         52           72   80
12  Akash       72    72       80         52           72   72
13  Akash       52    52       91         52           72   72
14   Arun       72    72       60         80           52   80

In [ ]:
#spark and panda
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
import pandas as pd
import numpy as np
a=np.array([11,99,303,44,55,6])
b=np.array([1,2,3,4,5,6])
c=a+b
d=np.array(["Abi","Bala","Coulins","Dinesh","Elger","Ganesh"])
frame={"Name":d, "A":a, "B":b, "C":c}
g=pd.DataFrame(frame)
print("")
print(g)
df = spark.createDataFrame(g)

df.show()

      Name    A  B    C
0      Abi   11  1   12
1     Bala   99  2  101
2  Coulins  303  3  306
3   Dinesh   44  4   48
4    Elger   55  5   60
5   Ganesh    6  6   12
+-------+---+---+---+
|   Name|  A|  B|  C|
+-------+---+---+---+
|    Abi| 11|  1| 12|
|   Bala| 99|  2|101|
|Coulins|303|  3|306|
| Dinesh| 44|  4| 48|
|  Elger| 55|  5| 60|
| Ganesh|  6|  6| 12|
+-------+---+---+---+

In [ ]:
#read CSV

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df=spark.read.csv('file1.csv', header=True).show()

+---+-----+-------+----+-------+---------+-----------+---+
|_c0| Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+-----+-------+----+-------+---------+-----------+---+
|  0| Arun|     60|  60|     72|       60|         80| 52|
|  1| Arun|     30|  30|     52|       80|         91| 91|
|  2| Arun|     80|  80|     52|       52|         72| 72|
|  3| Manu|     72|  72|     72|       52|         52| 72|
|  4| Manu|     52|  52|     60|       60|         91| 60|
|  5|Akash|     80|  80|     72|       60|         30| 52|
|  6|Akash|     72|  72|     52|       72|         72| 52|
|  7| Manu|     52|  52|     52|       72|         60| 60|
|  8|Akash|     52|  52|     72|       72|         60| 60|
|  9| Manu|     72|  72|     91|       80|         30| 30|
| 10| Arun|     80|  80|     60|       52|         80| 91|
| 11| Arun|     60|  60|     60|       52|         72| 80|
| 12|Akash|     72|  72|     80|       52|         72| 72|
| 13|Akash|     52|  52|     91|       52|         72| 72|
| 14| Arun|     72|  72|     60|       80|         52| 80|
+---+-----+-------+----+-------+---------+-----------+---+

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df=spark.read.csv('file1.csv', header=True).show()

+---+------+-------+----+-------+---------+-----------+---+
|_c0|  Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+------+-------+----+-------+---------+-----------+---+
|  0|  Arun|     30|  30|     60|       91|         72| 91|
|  1|  Arun|     80|  80|     80|       52|         60| 52|
|  2|  Manu|     52|  52|     60|       60|         91| 52|
|  3|  Manu|     72|  72|     80|       72|         30| 30|
|  4|  Arun|     30|  30|     60|       30|         60| 72|
|  5|  Arun|     72|  72|     80|       60|         91| 60|
|  6|  Arun|     72|  72|     60|       52|         52| 52|
|  7|  Arun|     60|  60|     91|       60|         52| 72|
|  8|  Arun|     30|  30|     60|       52|         30| 72|
|  9|  Arun|     52|  52|     72|       52|         72| 91|
| 10|  Manu|     72|  72|     72|       80|         60| 60|
| 11|  Arun|     72|  72|     60|       72|         60| 91|
| 12|  Arun|     72|  72|     80|       72|         72| 72|
| 13|Sanjay|     60|  60|     60|       52|         60| 72|
| 14|  Arun|     52|  52|     72|       72|         30| 80|
+---+------+-------+----+-------+---------+-----------+---+

In [ ]:
#describe
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df=spark.read.csv('file1.csv', header=True)
#df.show()
df.select("Math", "CSE", "Name").describe().show()

+-------+------------------+------------------+-----+
|summary|              Math|               CSE| Name|
+-------+------------------+------------------+-----+
|  count|                15|                15|   15|
|   mean| 63.86666666666667|              66.4| NULL|
| stddev|14.272184068853585|16.422110530797017| NULL|
|    min|                30|                30|Akash|
|    max|                80|                91| Manu|
+-------+------------------+------------------+-----+

In [ ]:
#take
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df=spark.read.csv('file1.csv', header=True)
df.take(2)

[Row(_c0='0', Name='Arun', English='60', Math='60', Physics='72', Chemistry='60', Electronics='80', CSE='52'),
 Row(_c0='1', Name='Arun', English='30', Math='30', Physics='52', Chemistry='80', Electronics='91', CSE='91')]

In [ ]:
#ascending
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df=spark.read.csv('file1.csv', header=True)
df.orderBy(['Math'], ascending = [True]).show()

+---+------+-------+----+-------+---------+-----------+---+
|_c0|  Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+------+-------+----+-------+---------+-----------+---+
| 11| Akash|     30|  30|     72|       52|         52| 30|
|  5|  Manu|     52|  52|     91|       30|         30| 91|
|  6|  Manu|     52|  52|     60|       91|         72| 72|
|  8|  Manu|     52|  52|     72|       91|         52| 30|
| 12| Akash|     52|  52|     52|       72|         72| 72|
|  4|  Manu|     60|  60|     52|       80|         52| 80|
|  9|  Manu|     60|  60|     52|       52|         30| 80|
| 14|  Manu|     60|  60|     52|       91|         52| 80|
|  0|  Arun|     72|  72|     91|       30|         52| 91|
|  1|  Manu|     72|  72|     52|       60|         91| 72|
|  2|Sanjay|     72|  72|     91|       72|         72| 72|
|  3|  Arun|     72|  72|     60|       72|         72| 80|
|  7|  Manu|     72|  72|     30|       30|         91| 60|
| 13|Sanjay|     72|  72|     52|       80|         30| 30|
| 10|  Arun|     91|  91|     91|       30|         30| 60|
+---+------+-------+----+-------+---------+-----------+---+

In [ ]:
#decending
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df=spark.read.csv('file1.csv', header=True)
df.orderBy(['Math'], ascending = [False]).show()

+---+------+-------+----+-------+---------+-----------+---+
|_c0|  Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+------+-------+----+-------+---------+-----------+---+
|  6|  Manu|     91|  91|     60|       80|         72| 60|
|  4|  Arun|     80|  80|     60|       52|         60| 80|
|  0|Sanjay|     72|  72|     72|       80|         52| 91|
|  1|  Arun|     72|  72|     91|       72|         52| 72|
|  5|Sanjay|     72|  72|     60|       80|         72| 60|
|  7|  Arun|     72|  72|     72|       80|         72| 30|
|  8|  Arun|     72|  72|     72|       52|         72| 72|
| 11|  Arun|     72|  72|     52|       80|         52| 80|
| 12|Sanjay|     72|  72|     72|       80|         72| 52|
| 14|Sanjay|     72|  72|     52|       60|         60| 52|
|  2|  Arun|     60|  60|     30|       72|         72| 72|
|  3|  Manu|     52|  52|     72|       60|         80| 72|
|  9| Akash|     52|  52|     60|       52|         91| 72|
| 10|  Manu|     52|  52|     60|       60|         80| 72|
| 13| Akash|     52|  52|     72|       52|         60| 91|
+---+------+-------+----+-------+---------+-----------+---+

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
df=spark.read.csv('file1.csv', header=True)
df.show()
df.collect()

+---+------+-------+----+-------+---------+-----------+---+
|_c0|  Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+------+-------+----+-------+---------+-----------+---+
|  0|  Arun|     72|  72|     91|       30|         52| 91|
|  1|  Manu|     72|  72|     52|       60|         91| 72|
|  2|Sanjay|     72|  72|     91|       72|         72| 72|
|  3|  Arun|     72|  72|     60|       72|         72| 80|
|  4|  Manu|     60|  60|     52|       80|         52| 80|
|  5|  Manu|     52|  52|     91|       30|         30| 91|
|  6|  Manu|     52|  52|     60|       91|         72| 72|
|  7|  Manu|     72|  72|     30|       30|         91| 60|
|  8|  Manu|     52|  52|     72|       91|         52| 30|
|  9|  Manu|     60|  60|     52|       52|         30| 80|
| 10|  Arun|     91|  91|     91|       30|         30| 60|
| 11| Akash|     30|  30|     72|       52|         52| 30|
| 12| Akash|     52|  52|     52|       72|         72| 72|
| 13|Sanjay|     72|  72|     52|       80|         30| 30|
| 14|  Manu|     60|  60|     52|       91|         52| 80|
+---+------+-------+----+-------+---------+-----------+---+

[Row(_c0='0', Name='Arun', English='72', Math='72', Physics='91', Chemistry='30', Electronics='52', CSE='91'),
 Row(_c0='1', Name='Manu', English='72', Math='72', Physics='52', Chemistry='60', Electronics='91', CSE='72'),
 Row(_c0='2', Name='Sanjay', English='72', Math='72', Physics='91', Chemistry='72', Electronics='72', CSE='72'),
 Row(_c0='3', Name='Arun', English='72', Math='72', Physics='60', Chemistry='72', Electronics='72', CSE='80'),
 Row(_c0='4', Name='Manu', English='60', Math='60', Physics='52', Chemistry='80', Electronics='52', CSE='80'),
 Row(_c0='5', Name='Manu', English='52', Math='52', Physics='91', Chemistry='30', Electronics='30', CSE='91'),
 Row(_c0='6', Name='Manu', English='52', Math='52', Physics='60', Chemistry='91', Electronics='72', CSE='72'),
 Row(_c0='7', Name='Manu', English='72', Math='72', Physics='30', Chemistry='30', Electronics='91', CSE='60'),
 Row(_c0='8', Name='Manu', English='52', Math='52', Physics='72', Chemistry='91', Electronics='52', CSE='30'),
 Row(_c0='9', Name='Manu', English='60', Math='60', Physics='52', Chemistry='52', Electronics='30', CSE='80'),
 Row(_c0='10', Name='Arun', English='91', Math='91', Physics='91', Chemistry='30', Electronics='30', CSE='60'),
 Row(_c0='11', Name='Akash', English='30', Math='30', Physics='72', Chemistry='52', Electronics='52', CSE='30'),
 Row(_c0='12', Name='Akash', English='52', Math='52', Physics='52', Chemistry='72', Electronics='72', CSE='72'),
 Row(_c0='13', Name='Sanjay', English='72', Math='72', Physics='52', Chemistry='80', Electronics='30', CSE='30'),
 Row(_c0='14', Name='Manu', English='60', Math='60', Physics='52', Chemistry='91', Electronics='52', CSE='80')]

In [ ]:
df.columns

['_c0',
 'Name',
 'English',
 'Math',
 'Physics',
 'Chemistry',
 'Electronics',
 'CSE']

In [ ]:
a=df.count()
print(a)

15

In [ ]:
len(df.columns)

7

In [ ]:
df.count()

15

In [ ]:
df.filter("CSE= 80").show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
| 11|Arun|     60|  60|     60|       52|         72| 80|
| 14|Arun|     72|  72|     60|       80|         52| 80|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
a=df.filter("CSE= 80")
a.show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
|  4|Arun|     80|  80|     60|       52|         60| 80|
| 11|Arun|     72|  72|     52|       80|         52| 80|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df.filter(df.Name.contains("Manu")).show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
|  1|Manu|     72|  72|     52|       60|         91| 72|
|  4|Manu|     60|  60|     52|       80|         52| 80|
|  5|Manu|     52|  52|     91|       30|         30| 91|
|  6|Manu|     52|  52|     60|       91|         72| 72|
|  7|Manu|     72|  72|     30|       30|         91| 60|
|  8|Manu|     52|  52|     72|       91|         52| 30|
|  9|Manu|     60|  60|     52|       52|         30| 80|
| 14|Manu|     60|  60|     52|       91|         52| 80|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df.filter((df.Name == "Manu") &
                 (df.CSE== "30")).show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
|  8|Manu|     52|  52|     72|       91|         52| 30|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df.filter((df.Name == "Abi") |
                 (df.CSE== "30")).show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
| 10|Arun|     91|  91|     72|       52|         72| 30|
| 11|Arun|     72|  72|     60|       52|         52| 30|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df.filter("Name = 'Bala' or Name = 'Manu'").show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
|  0|Manu|     52|  52|     72|       30|         91| 30|
|  1|Manu|     80|  80|     60|       52|         91| 60|
|  3|Manu|     52|  52|     60|       60|         52| 60|
|  5|Manu|     72|  72|     60|       60|         60| 52|
|  6|Manu|     72|  72|     52|       72|         60| 80|
|  7|Manu|     52|  52|     80|       30|         60| 52|
|  8|Manu|     60|  60|     30|       72|         60| 60|
| 11|Manu|     72|  72|     30|       72|         52| 60|
| 13|Manu|     52|  52|     60|       80|         60| 30|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df.filter("Name = 'Bala' and Name = 'Manu'").show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df.where(df.CSE >75).show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
|  2|Manu|     91|  91|     72|       72|         60| 80|
|  8|Arun|     91|  91|     91|       72|         60| 91|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df1=df.where(df.CSE >75)
df1.show()

+---+----+-------+----+-------+---------+-----------+---+
|_c0|Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+----+-------+----+-------+---------+-----------+---+
|  6|Manu|     72|  72|     52|       72|         60| 80|
|  9|Arun|     60|  60|     52|       72|         72| 80|
+---+----+-------+----+-------+---------+-----------+---+

In [ ]:
df.where(df.CSE >75).collect()

[Row(_c0='6', Name='Manu', English='72', Math='72', Physics='52', Chemistry='72', Electronics='60', CSE='80'),
 Row(_c0='9', Name='Arun', English='60', Math='60', Physics='52', Chemistry='72', Electronics='72', CSE='80')]

In [ ]:
df.select(df.CSE, df.CSE.between(80,86)).show()

+---+-----------------------------+
|CSE|((CSE >= 80) AND (CSE <= 86))|
+---+-----------------------------+
| 91|                        false|
| 72|                        false|
| 72|                        false|
| 80|                         true|
| 80|                         true|
| 91|                        false|
| 72|                        false|
| 60|                        false|
| 30|                        false|
| 80|                         true|
| 60|                        false|
| 30|                        false|
| 72|                        false|
| 30|                        false|
| 80|                         true|
+---+-----------------------------+

In [ ]:

df.withColumnRenamed("Electronics","ECE").show(truncate=False)

+---+----+-------+----+-------+---------+---+---+
|_c0|Name|English|Math|Physics|Chemistry|ECE|CSE|
+---+----+-------+----+-------+---------+---+---+
|0  |Manu|52     |52  |72     |30       |91 |30 |
|1  |Manu|80     |80  |60     |52       |91 |60 |
|2  |Arun|80     |80  |72     |80       |72 |52 |
|3  |Manu|52     |52  |60     |60       |52 |60 |
|4  |Arun|72     |72  |72     |30       |91 |72 |
|5  |Manu|72     |72  |60     |60       |60 |52 |
|6  |Manu|72     |72  |52     |72       |60 |80 |
|7  |Manu|52     |52  |80     |30       |60 |52 |
|8  |Manu|60     |60  |30     |72       |60 |60 |
|9  |Arun|60     |60  |52     |72       |72 |80 |
|10 |Arun|60     |60  |91     |60       |91 |72 |
|11 |Manu|72     |72  |30     |72       |52 |60 |
|12 |Arun|60     |60  |91     |72       |91 |52 |
|13 |Manu|52     |52  |60     |80       |60 |30 |
|14 |Arun|72     |72  |52     |30       |60 |72 |
+---+----+-------+----+-------+---------+---+---+

In [ ]:
#spark to pandas
pandasDF = df.toPandas()
print(pandasDF)

   _c0    Name English Math Physics Chemistry Electronics CSE
0    0    Arun      72   72      91        30          52  91
1    1    Manu      72   72      52        60          91  72
2    2  Sanjay      72   72      91        72          72  72
3    3    Arun      72   72      60        72          72  80
4    4    Manu      60   60      52        80          52  80
5    5    Manu      52   52      91        30          30  91
6    6    Manu      52   52      60        91          72  72
7    7    Manu      72   72      30        30          91  60
8    8    Manu      52   52      72        91          52  30
9    9    Manu      60   60      52        52          30  80
10  10    Arun      91   91      91        30          30  60
11  11   Akash      30   30      72        52          52  30
12  12   Akash      52   52      52        72          72  72
13  13  Sanjay      72   72      52        80          30  30
14  14    Manu      60   60      52        91          52  80

In [ ]:
pandasDF = df.toPandas()

# Select specific columns by their names
selected_columns = pandasDF[['Name', 'English', 'Math']]
print(selected_columns)

     Name English Math
0    Arun      60   60
1    Arun      30   30
2    Arun      80   80
3    Manu      72   72
4    Manu      52   52
5   Akash      80   80
6   Akash      72   72
7    Manu      52   52
8   Akash      52   52
9    Manu      72   72
10   Arun      80   80
11   Arun      60   60
12  Akash      72   72
13  Akash      52   52
14   Arun      72   72

In [ ]:
pandasDF = df.toPandas().reset_index(drop=False)
print(pandasDF)

    index _c0   Name English Math Physics Chemistry Electronics CSE
0       0   0   Arun      60   60      72        60          80  52
1       1   1   Arun      30   30      52        80          91  91
2       2   2   Arun      80   80      52        52          72  72
3       3   3   Manu      72   72      72        52          52  72
4       4   4   Manu      52   52      60        60          91  60
5       5   5  Akash      80   80      72        60          30  52
6       6   6  Akash      72   72      52        72          72  52
7       7   7   Manu      52   52      52        72          60  60
8       8   8  Akash      52   52      72        72          60  60
9       9   9   Manu      72   72      91        80          30  30
10     10  10   Arun      80   80      60        52          80  91
11     11  11   Arun      60   60      60        52          72  80
12     12  12  Akash      72   72      80        52          72  72
13     13  13  Akash      52   52      91        52          72  72
14     14  14   Arun      72   72      60        80          52  80

In [ ]:
pandasDF = df.toPandas()
pandasDF.index = range(len(pandasDF))  # Setting a new range index
print(pandasDF)

   _c0   Name English Math Physics Chemistry Electronics CSE
0    0   Arun      60   60      72        60          80  52
1    1   Arun      30   30      52        80          91  91
2    2   Arun      80   80      52        52          72  72
3    3   Manu      72   72      72        52          52  72
4    4   Manu      52   52      60        60          91  60
5    5  Akash      80   80      72        60          30  52
6    6  Akash      72   72      52        72          72  52
7    7   Manu      52   52      52        72          60  60
8    8  Akash      52   52      72        72          60  60
9    9   Manu      72   72      91        80          30  30
10  10   Arun      80   80      60        52          80  91
11  11   Arun      60   60      60        52          72  80
12  12  Akash      72   72      80        52          72  72
13  13  Akash      52   52      91        52          72  72
14  14   Arun      72   72      60        80          52  80

In [ ]:
pandasDF = df.toPandas()
pandasDF.reset_index(drop=False, inplace=False)
print(pandasDF)

   _c0   Name English Math Physics Chemistry Electronics CSE
0    0   Arun      60   60      72        60          80  52
1    1   Arun      30   30      52        80          91  91
2    2   Arun      80   80      52        52          72  72
3    3   Manu      72   72      72        52          52  72
4    4   Manu      52   52      60        60          91  60
5    5  Akash      80   80      72        60          30  52
6    6  Akash      72   72      52        72          72  52
7    7   Manu      52   52      52        72          60  60
8    8  Akash      52   52      72        72          60  60
9    9   Manu      72   72      91        80          30  30
10  10   Arun      80   80      60        52          80  91
11  11   Arun      60   60      60        52          72  80
12  12  Akash      72   72      80        52          72  72
13  13  Akash      52   52      91        52          72  72
14  14   Arun      72   72      60        80          52  80

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Create a Spark session
spark = SparkSession.builder.getOrCreate()

import pandas as pd
import numpy as np

# Sample data
a = np.array([11, 99, 303, 44, 55, 6])
b = np.array([1, 2, 3, 4, 5, 6])
c = a + b
d = np.array(["Abi", "Bala", "Coulins", "Dinesh", "Elger", "Ganesh"])

# Create a dictionary containing the data
data = {"Name": d, "A": a, "B": b, "C": c}

# Create a pandas DataFrame
pandas_df = pd.DataFrame(data)

# Convert pandas DataFrame to Spark DataFrame
spark_df = spark.createDataFrame(pandas_df)

# Show the Spark DataFrame
spark_df.show()

+-------+---+---+---+
|   Name|  A|  B|  C|
+-------+---+---+---+
|    Abi| 11|  1| 12|
|   Bala| 99|  2|101|
|Coulins|303|  3|306|
| Dinesh| 44|  4| 48|
|  Elger| 55|  5| 60|
| Ganesh|  6|  6| 12|
+-------+---+---+---+

In [ ]:
#Pandas to spark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, min, max

# Create a Spark session
spark = SparkSession.builder.appName("CSVReadExample").getOrCreate()

# Read the CSV file
file_path = "file1.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the first few rows of the DataFrame
df.show()

# Get the size (number of rows) of the DataFrame
size = df.count()
print("Size:", size)

# Get the shape (number of rows, number of columns) of the DataFrame
num_rows = df.count()
num_cols = len(df.columns)
shape = (num_rows, num_cols)
print("Shape:", shape)

# Find the minimum and maximum values for numeric columns
numeric_cols = [col_name for col_name, col_type in df.dtypes if col_type in ("int", "double")]
"""min_max_values = df.select([min(col(math)).alias("min_" + col_name), max(col(col_name)).alias("max_" + col_name) for col_name in numeric_cols])
min_max_values.show()

# Stop the Spark session
spark.stop()"""

+---+------+-------+----+-------+---------+-----------+---+
|_c0|  Name|English|Math|Physics|Chemistry|Electronics|CSE|
+---+------+-------+----+-------+---------+-----------+---+
|  0|Sanjay|     72|  72|     72|       80|         52| 91|
|  1|  Arun|     72|  72|     91|       72|         52| 72|
|  2|  Arun|     60|  60|     30|       72|         72| 72|
|  3|  Manu|     52|  52|     72|       60|         80| 72|
|  4|  Arun|     80|  80|     60|       52|         60| 80|
|  5|Sanjay|     72|  72|     60|       80|         72| 60|
|  6|  Manu|     91|  91|     60|       80|         72| 60|
|  7|  Arun|     72|  72|     72|       80|         72| 30|
|  8|  Arun|     72|  72|     72|       52|         72| 72|
|  9| Akash|     52|  52|     60|       52|         91| 72|
| 10|  Manu|     52|  52|     60|       60|         80| 72|
| 11|  Arun|     72|  72|     52|       80|         52| 80|
| 12|Sanjay|     72|  72|     72|       80|         72| 52|
| 13| Akash|     52|  52|     72|       52|         60| 91|
| 14|Sanjay|     72|  72|     52|       60|         60| 52|
+---+------+-------+----+-------+---------+-----------+---+

Size: 15
Shape: (15, 8)

'min_max_values = df.select([min(col(math)).alias("min_" + col_name), max(col(col_name)).alias("max_" + col_name) for col_name in numeric_cols])\nmin_max_values.show()\n\n# Stop the Spark session\nspark.stop()'